<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Star Break Coffee</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom styling -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="#"><img id="logo" src="img/logo.png"></a>
        </div>
    </nav>

    <button onClick="draw(0)">
        <img id = "pie_logo" src="img/pie_logo.png">
        <br>Pie</button>
    <button onClick="draw(1)">
        <img id = "bar_logo" src="img/bar_logo.png">
        <br>Bar</button>
        

    <div id="div_template"></div>
    <div id="image_template"></div>

    <!-- Bootstrap grid setup -->
    <div class="container">
        <div class="row">
            <div id="chart-area"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="pie-area"></div>
            <div id="tooltip"></div>
            <div id="image_tooltip"></div>
        </div>
        
    </div>
    

    <br><br><br>

    <!-- buttons-->
    <!-- <div>
      <input type="radio" name="Project Type" value="1" onclick="update(1, highestCount)"> Project 1<br>
      <input type="radio" name="Project Type" value="2" onclick="update(2, highestCount)"> Project 2<br>
    </div> -->
    
<!-- External JS libraries -->
    <script src="js/d3.min.js"></script>
<!-- Custom JS -->
<script src="js/main.js"></script>



</body>
</html>









